.wall{
    height: 28px;
    width: 28px;
    background-color: rgb(0, 12, 72);
    animation-duration: 0.3s;
    animation-name: animateWall;
}
.destinations{
    height: 20px;
    width: 20px;
    animation-duration: 1s;
    animation-name:animateDestinations;
}
.weight{
    height: 20px;
    width: 20px;
    animation-duration: 0.1s;
    animation-name: animateWeight;
}
.path{
    height: 28px;
    width: 28px;
    background-color: rgba(88, 136, 248, 0.872);
    animation-name: animatePath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    border: none;
}
.shortest-path{
    height: 28px;
    width: 28px;
    background-color: yellow;
    animation:animateShortestPath;
    animation-duration: 1.5s;
}

@keyframes animateWall{
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes animatePath{
    0% {
        transform: scale(0.3);
        background-color: yellow;
        border-radius: 100%;
      }
    
      50% {
        background-color: rgba(17, 104, 217, 0.75);
      }
    
      75% {
        transform: scale(1.2);
        background-color: rgb(55, 114, 250);
      }
    
      100% {
        transform: scale(1);
        background-color: rgb(88, 136, 248);
      }
}
@keyframes animateDestinations{
    from{
        width: 5px;
        height: 5px;
    }
    to{
        width: 23px;
        height: 23px;
    }
}   
@keyframes animateShortestPath{
    0%{
        transform: scale(0.3);
        border-radius: 100%;
        background-color: white;
    }
    50%{
        transform: scale(1.2);
        background-color: rgba(232, 232, 5, 0.858);
        border: white;
    }
    100%{
        transform: scale(1);
        background-color: yellow;
    }
}
@keyframes animateWeight{
    from{
        transform: scale(0.2);
    }
    to{
        transform: scale(1);
    }
}